.navbar {
    display: flex;
    background-Color: pink;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    
}

.listas{
    display: flex;
    margin-left: 5rem;
}

li{
    margin-left: 2rem;
}